* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}

/* Start of top sec */
.top-sec {
    margin-bottom: 40px;
}
.top-sec .img-cont,
.top-sec .content {
    margin: 30px 0;

}
.top-sec .img-cont {
    width: 35%;
    float: left;
    margin-right: 30px;
    position: relative;
   

}
.top-sec .img {
    width: 350px;
    height: 300px;
    position: relative;
    
    
}

.top-sec .img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.top-sec .img-cont .img .over-lay {
    position: absolute; 
    border-radius: 10px;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.top-sec .content {
    width: 60%;
    float: left;
}
.top-sec .content h2 {
    font-weight: bold;
}
.top-sec .content ul {
    margin: 20px 0;
}

.top-sec .content ul li {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;

}

.top-sec .content .rat-cont {
    width: 255px;
    line-height: 10px;
}

.course-ratting {
    float: left;
    margin-right: 20px;
    vertical-align: middle
}

.course-ratting i {
   color: #FBBA42;
}



.course-ratting span {
    font-size: 30px;
    font-weight: bold;
    color: rgb(130, 255, 80);

}

.btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: 1px dashed rgb(0, 255, 242) ;
    border-radius: 50%;
    padding: 5px;
    z-index: 4;
}
.play-button {
      
    width: 50px;
    height: 50px;
    border:none; 
    border-radius: 50%;
    
    background-color: #fff;  
}

.play-button i {
    color: rgb(0, 255, 242) ;
}

.play-button:hover {
    cursor: pointer;    
}

/* End of top sec */

/* Start of course content */

.c-content {
    background-color: #f4f8fa;
    padding: 50px 0px;
}
.c-lbl {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;

}
.c-content .left-content .c-overview,
.c-content .left-content .c-circu,
.c-content .right-content .c-features,
.c-content .right-content .c-info {
    padding: 30px;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #ddd,
                -2px -2px 8px #ddd;

    color: #10285d;
    margin-bottom: 46px;

}
.c-content .left-content {
    width: 65%;
    float: left;
    margin-right: 5%;

}

.c-content .right-content {
    width: 30%;
    float: left;
}


.c-content .left-content p {
    line-height: 25px;
    font-size: 15.5px;
    color: #10285d;
}

.c-content .left-content .c-overview ul {
    line-height: 35px;
}

.c-content .left-content .c-overview ul li {

    padding-left: 16px;
}
  
.c-content .left-content .c-overview ul li:before {
    content: "•"; 
    padding-right: 8px;

}
.c-content .left-content .c-circu .acor {
    box-shadow: 2px 2px 6px #ddd,
    -2px -2px 6px #ddd;
    width: 90%;
    margin: 20px auto;
    

}
.c-content .left-content .c-circu .acor button {

    width: 90%;
    height: 50px;

    border: none;
    color: #000;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    background-color: #fff;
}




.c-content .left-content .c-circu .acor button:after {
  
    content: "+";
    font-size: 20px;
    float: right;
    position: relative;
    top: -5px;
}



.c-content .left-content .c-circu .acor ul li {
    width: 90%;
    padding: 20px;
    border-bottom: solid 1px #efefef;
}

.c-content .left-content .c-circu .acor ul li span{
    color: rgb(36, 78, 78);
    font-size: 15px;
    margin-right: 10px;
}

.c-content .left-content .c-circu .acor ul li .lect-title {
    font-weight: bold;
    color: rgb(111, 111, 238)
}

.c-content .left-content .c-circu .acor ul li i.ti-lock {
    float: right;
}
.c-content .left-content .c-circu .acor .slider {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;

}



.c-content .left-content .c-circu .acor button:hover {
    cursor: pointer;
    
}


.c-content .left-content  .social {
    width: 50%;
    padding: 20px ;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 2px 2px 8px #ddd,
                -2px -2px 8px #ddd;
}

.c-content .left-content .social .img {
    width: 170px;
    height: 170px;
    margin: 0 auto;

}

.c-content .left-content .social .img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.c-content .left-content .social-btn {
    text-align: center;
}
.c-content .left-content  .social-btn  a {
    display: inline-block;
    border: 2px solid #678aca;
    background-color: transparent;
    color: #678aca;
    font-weight: bold;
    font-size: large;
    width: 100%;
    height: 50px;
    padding: 5px 0px;
    margin: 20px 5px 0px 0px;
    line-height: 36px;
    border-radius: 10px;
    text-transform: capitalize;
    transition: 0.5s

}

.c-content .left-content  .social-btn  a:hover {
    cursor: pointer; 
    background: #678aca;
    color: #fff;
}


.c-content .left-content  .social .info .p-info {
    text-align: center;
    margin: 20px 0;
   
}

.c-content .left-content .social .info .p-info .inst-name {
    font-size: 20px;
}

.info .achive .ts {
    margin-right: 70px;
    float: left;

}

.info .achive .ts p,
.info .achive .rev {
    text-transform: uppercase;
}

.info .achive .ts span, 
.info .achive .rev span {
    font-size: 25px;
    font-weight: bold;
}

 
.c-features h2 {

    color: rgb(105, 104, 107);;
    font-weight: bold;
}

.c-features label, p {

    text-transform: capitalize;
    color: #34455a;

}

.c-features ul li p {
    color: rgb(105, 104, 107);
    margin-bottom: 5px;
    margin-left: 20px;
}

.c-features ul li p i {

    color: rgb(130, 255, 80);
}

.c-features button {
    width: 100%;
    padding: 10px;
    background-color: #10285d;
    color: #fff;
    text-transform: capitalize;
    border: 2px solid #10285d;
    border-radius: 15px;
    transition: 0.5s;
    margin-top: 10px;
}

.c-features button i {
    margin-left: 10px;
}

.c-features button:hover {

    color: #10285d;
    background-color: #fff;
}

.c-info ul {
    line-height: 40px;
    
}
.c-info i {
    margin-right: 10px;
}


.c-info span {
   float: right;
   font-weight: bold;
   color: #009688
}
